body {
  font-family: 'Allerta Stencil';
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 50px;
  color: #afb2c7;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  position: absolute;
  width: 800px;
  height: 600px;
}

.dark-tint {
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  visibility: hidden;
}

#canvas {
  background-image: url("./background-cave.png");
  background-size: 800px 600px;
}

.settings {
  position: absolute;
  left: 30px;
  top: 100px;

  width: 40px;
  height: 40px;
}

#game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-over-screen  p {
  font-size: 40px;
  color: #fff;
}
