#canvas {
  background-image: url("./background-cave.png");
  background-size: 800px 600px;
}

body {
  font-family: 'Allerta Stencil';
  background-color: #555;
  color: #DDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-delay: 200ms;
}

h2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#header {
  margin-bottom: 10px;
}

#header span {
  font-size: 50px;
  z-index: 10;
}

.header-drop {
  font-size: 50px;
  z-index: 10;
  position: relative;
  animation-name: drop;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes drop {
  0%   {left:0px; top:0px;}
  100%  {color:white; font-size: 60px; left:0px; top:180px;}
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: 20;
}

.dark-tint {
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  visibility: hidden;
}

#how-to-play {
  position: absolute;
  background-color: rgba(0,0,0,1);
  width: 600px;
  height: 480px;
  margin: 60px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 60px;
}

#how-to-play-exit {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 30px;
}

#how-to-play-exit:hover {
  cursor: pointer;
  font-size: 36px;
  color: #d27878;
}

.how-to-play-pics {
  padding-bottom: 40px;
}

#start-screen, #game-over-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-over-screen  p {
  font-size: 40px;
}
