body {
  font-family: helvetica;
}

#canvas {
  position: absolute;
  background-color: #444;
}

#leftClick {
  position: relative;
  max-width: 200px;
  min-height: 600px;
}

#rightClick {
  position: relative;
  left: 600px;
  max-width: 200px;
  min-height: 600px;
}
